<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../../includes/header', { title: "Zarządzanie sklepem" }); %>

        <link rel="stylesheet" href="<%= path %>css/form.css">
    </head>

    <body>
        <%- include('../../includes/nav', { user, cart }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header-no-margin">Edytuj produkt</h1>
                <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> <a href="/zarzadzanie-sklepem">Zarządzanie sklepem</a> <i class="icon-right-dir"></i> <a href="/zarzadzanie-sklepem/produkty">Produkty</a> <i class="icon-right-dir"></i> Edytuj</div>

                <form method="post" id="form" enctype="multipart/form-data">
                    <div class="form-input">
                        <label for="name">Nazwa:</label>
                        <input type="text" name="name" id="name" value="<%= product.name %>" required>
                    </div>
    
                    <div class="form-input">
                        <label for="url">Adres URI:</label>
                        <input type="text" name="url" id="url" value="<%= product.url %>" required>
                    </div>

                    <div id="url-info" class="text-red display-none"></div>

                    <div class="form-input">
                        <label for="description">Opis:</label>
                        <textarea name="description" id="description"><%= product.description ? product.description : '' %></textarea>
                    </div>

                    <div class="form-input" style="margin-top:40px;">
                        <label for="image">Zmień obrazek poglądowy:</label>
                        <input type="file" name="image" id="image">
                    </div>

                    <div class="form-input">
                        <label for="category">Kategoria:</label>
                        <select name="category" id="category" required>
                            <option value="rowery" <%= product.category === 'rowery' ? 'selected' : '' %>>Rowery</option>
                            <option value="akcesoria" <%= product.category === 'akcesoria' ? 'selected' : '' %>>Akcesoria</option>
                            <option value="odziez" <%= product.category === 'odziez' ? 'selected' : '' %>>Odzież</option>
                            <option value="trenazery" <%= product.category === 'trenazery' ? 'selected' : '' %>>Trenażery</option>
                        </select>
                    </div>

                    <div class="form-input" style="margin-top:40px;">
                        <label for="price">Cena (PLN):</label>
                        <input type="number" name="price" id="price" step="0.01" min="0.01" value="<%= product.price %>" required>
                    </div>

                    <div class="form-input">
                        <label for="amount">Ilość sztuk w magazynie:</label>
                        <input type="number" name="amount" id="amount" min="0" value="<%= product.amount %>" required>
                    </div>
                </form>

                <button id="submit-button"><i class="icon-ok"></i> Zatwierdź</button>
                <a href="/zarzadzanie-sklepem/produkty">
                    <button><i class="icon-cancel"></i> Anuluj</button>
                </a>
            </main>
        </div>

        <%- include('../../includes/footer'); %>

        <script>
            const productsUrl = JSON.parse('<%- JSON.stringify(productsUrl) %>');
        </script>

        <script src="<%= path %>js/product-form.js"></script>
    </body> 
</html>