<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SZOSA sklep - <%= title %></title>

<link rel="stylesheet" href="<%= locals.path ? locals.path : '' %>css/main.css">
<link rel="stylesheet" href="<%= locals.path ? locals.path : '' %>css/nav.css">
<link rel="stylesheet" href="<%= locals.path ? locals.path : '' %>css/popup.css">

<link rel="stylesheet" href="<%= locals.path ? locals.path : '' %>fontello/css/fontello.css"> <!-- Fontello -->
<link href='https://fonts.googleapis.com/css?family=Atkinson Hyperlegible' rel='stylesheet'> <!-- Atkinson Hyperlegible font -->