<% const amount = Math.min(products.length, max ? max : 256); %>

<% if(products && products.length > 0) { %>
    <% for(let i = 0; i < amount; i++) { %>
        <% const product = products[i]; %>
        <% const ordersCount = orders.filter(order => order.productsIds.includes(product.id)).length; %>

        <div class="product-tile">
            <div class="product-image-container">
                <% if(product.imageUrl) { %>
                    <img src="../img/uploads/<%= product.imageUrl %>" alt="Obraz poglądowy produktu">
                <% } else { %>
                    <img src="../img/default.jpg" alt="Ikona braku obrazu poglądowego">
                <% } %>
            </div>

            <div>
                <p><%= product.name %></p>
                <p style="margin-bottom: 10px;"><%= (Math.round(product.price * 100) / 100).toFixed(2); %> PLN</p>
                <p <%= product.amount < 1 ? 'style="color: red;"' : '' %>>W magazynie: <%= product.amount %></p>
            </div>

            <div style="margin: 20px 0;">
                <a href="/zarzadzanie-sklepem/produkty/edytuj?id=<%= product.id %>">
                    <button>Edytuj</button>
                </a>
                
                <button onclick="showDeleteProductForm(this, <%= product.id %>, '<%= product.name %>')">Usuń</button>
            </div>

            <div <%- product.views === 0 ? 'style="color: red;"' : '' %>>Wyświetlenia: <%= product.views %></div>
            <div <%- ordersCount === 0 ? 'style="color: red;"' : '' %>>Zamówienia: <%= ordersCount %></div>
        </div>
    <% } %>
<% } else { %>
    <div><h5>Brak produktów do wyświetlenia!</h5></div>
<% } %>