<% const amount = Math.min(products.length, max ? max : 256); %>

<% if(products && products.length > 0) { %>
    <% for(let i = 0; i < amount; i++) { %>
        <% const product = products[i]; %>
        <% const ordersCount = orders.filter(order => order.productsIds.includes(product.id)).length; %>

        <div class="product-tile-div">
            <a class="product-tile" href="/produkt/<%= product.url %>">
                <% if(product.imageUrl) { %>
                    <img src="../img/uploads/<%= product.imageUrl %>" alt="Obraz poglądowy produktu">
                <% } else { %>
                    <img src="../img/default.jpg" alt="Ikona braku obrazu poglądowego">
                <% } %>
    
                <p><%= product.name %></p>
                <p><%= (Math.round(product.price * 100) / 100).toFixed(2); %> PLN</p>
            </a>
            
            <div class="product-tile-controls">
                <a href="/zarzadzanie-sklepem/produkty/edytuj?id=<%= product.id %>">
                    <button>Edytuj</button>
                </a>
                
                <form method="post" action="/zarzadzanie-sklepem/produkty/usun?id=<%= product.id %>">
                    <button>Usuń</button>
                </form>
            </div>

            <div <%- product.views === 0 ? 'style="color: red;"' : '' %>>Wyświetlenia: <%= product.views %></div>
            <div <%- ordersCount === 0 ? 'style="color: red;"' : '' %>>Zamówienia: <%= ordersCount %></div>
        </div>
    <% } %>
<% } else { %>
    <div><h5>Brak produktów do wyświetlenia!</h5></div>
<% } %>