<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('includes/header', { title: "Strona główna" }); %>
    </head>

    <body>
        <%- include('includes/nav', { user }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header">Sklep SZOSA</h1>
                <p>Witaj w sklepie internetowym SZOSA! Oferujemy rowery oraz akcesoria dla pasjonatów kolarstwa szosowego.</p>
            </main>

            <h2 class="mobile-text-center text-secondary">Najpopularniejsze rowery</h2>
            <article class="product-tiles-container">
                <%- include('includes/tiles', { products, max: 4 }); %>
            </article>

            <h2 class="mobile-text-center text-secondary">Najpopularniejsze akcesoria</h2>
            <article class="product-tiles-container">
                <%- include('includes/tiles', { products, max: 4 }); %>
            </article>

            <h2 class="mobile-text-center text-secondary">Najpopularniejsze kategorie</h2>
            <article class="product-tiles-container">
                <%- include('includes/tiles', { products, max: 4 }); %>
            </article>
        </div>
    </body> 
</html>
