<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/header', { title: product.name }); %>
        <link rel="stylesheet" href="css/product.css">
    </head>

    <body>
        <%- include('includes/nav', { user }); %>

        <div class="container">
            <main>
                <h1 class="header text-center"><%= product.name %></h1>

                <% if(product.imageUrl) { %>
                    <img class="image" src="img/<%= product.imageUrl %>" alt="Obrazek poglądowy dla <%= product.name %>">
                <% } %>

                <div class="product-panel">
                    <section>
                        <div class="price">
                            <h3><%= (Math.round(product.price * 100) / 100).toFixed(2); %> PLN</h3>
                            <p>Pozostało w magazynie: <%= product.amount %></p>
                        </div>
    
                        <form method="POST">
                            <div>
                                <button>Dodaj do koszyka</button>
                            </div>
    
                            <div class="amount"><label>Ilość szt.:
                                <input type="number" min="1" max="<%= product.amount %>" value="1">
                            </label></div>
                        </form>
                    </section>
                    
                    <section>
                        <p style="margin-top: 40px;"><strong>Opis:</strong> <%= product.description || 'Brak informacji.' %></p>
                    </section>
                </div>
            </main>
        </div>
    </body> 
</html>
