<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('includes/header', { title: product.name, path }); %>
        <link rel="stylesheet" href="<%= path %>css/product.css">
    </head>

    <body>
        <%- include('includes/nav', { user }); %>

        <div class="container">
            <main>
                <% if(product.imageUrl) { %>
                    <img class="image" src="<%= path %>img/uploads/<%= product.imageUrl %>" alt="Obrazek poglądowy dla <%= product.name %>">
                <% } %>

                <h1 class="header text-center"><%= product.name %></h1>

                <div class="product-panel">
                    <section>
                        <div class="row">
                            <h3><%= (Math.round(product.price * 100) / 100).toFixed(2); %> PLN</h3>

                            <div class="content-divide-vertical"></div>

                            <form method="POST">
                                <button>Dodaj do koszyka</button>
    
                                <label>Ilość szt.:
                                    <input type="number" min="1" max="<%= product.amount %>" value="1">
                                </label>
                            </form>
                        </div>
    
                        <p class="amount">Pozostało w magazynie: <%= product.amount %></p>

                        <div class="product-divide"></div>

                        <p style="margin-top: 40px;"><strong>Opis:</strong> <%= product.description || 'Brak informacji.' %></p>
                    </section>
                </div>
            </main>
        </div>
    </body> 
</html>
