<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('includes/header', { title: product.name, path }); %>
        <link rel="stylesheet" href="<%= path %>css/product.css">
    </head>

    <body>
        <%- include('includes/nav', { user, cart }); %>

        <div class="container">
            <main>
                <div class="text-center">
                    <h1 class="header-no-margin"><%= product.name %></h1>
                    <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> Przeglądaj produkt</div>
                </div>

                <% if(product.imageUrl) { %>
                    <img class="image" src="<%= path %>img/uploads/<%= product.imageUrl %>" alt="Obrazek poglądowy dla <%= product.name %>">
                <% } %>

                <div class="product-panel">
                    <section>
                        <div class="row">
                            <h3><%= (Math.round(product.price * 100) / 100).toFixed(2); %> PLN</h3>

                            <div class="content-divide-vertical"></div>

                            <form method="post" action="/koszyk/dodaj">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <input type="hidden" name="url" value="<%= product.url %>">

                                <button>Dodaj do koszyka</button>
    
                                <label>Ilość szt.:
                                    <select class="amount-select" name="amount">
                                        <option value="1" selected>1</option>
                                        <% for(let i = 2; i <= product.amount; i++) { %>
                                            <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                </label>
                            </form>
                        </div>
    
                        <p class="amount">Pozostało w magazynie: <%= product.amount %></p>

                        <div class="product-divide"></div>

                        <p style="margin-top: 40px;"><strong>Opis:</strong> <%= product.description || 'Brak informacji.' %></p>
                    </section>
                </div>
            </main>
        </div>
    </body> 
</html>
