<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../includes/header', { title: "Podsumowanie zamówienia" }); %>
        <link rel="stylesheet" href="<%= path %>css/form.css">
        <link rel="stylesheet" href="<%= path %>css/list.css">
        <link rel="stylesheet" href="<%= path %>css/cart.css">
    </head>

    <body>
        <%- include('../includes/nav', { user, cart }); %>

        <div class="container">
            <p style="color: red; text-decoration: underline; font-size: 14px;">UWAGA: Ta strona to tylko projekt w celach edukacyjnych! Proszę nie podawać swoich prawdziwych danych.</p>

            <main class="text-center">
                <h1 class="header-no-margin">Dziękujemy za zakup!</h1>
                <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> Podsumowanie zamówienia</div>
            
                <% if(!user) { %>
                    <p>Otrzymaliśmy Twoje zamówienie<%= mailSent ? ' i wysłaliśmy E-mail z potwierdzeniem' : '' %>. Wkrótce zweryfikujemy płatność i przejdziemy do realizacji zamówienia. Możesz sprawdzić status swojego zamówienia <a class="text-anchor" href="/zamowienie/<%= order.id %>?login=<%= orderLogin %>">pod tym linkiem</a>.</p>
                <% } else { %>
                    <p>Otrzymaliśmy Twoje zamówienie<%= mailSent ? ' i wysłaliśmy E-mail z potwierdzeniem' : '' %>. Wkrótce zweryfikujemy płatność i przejdziemy do realizacji zamówienia. Możesz sprawdzić status swojego zamówienia w <a class="text-anchor" href="/moje-konto/historia">historii zamówień</a> oraz <a class="text-anchor" href="/zamowienie/<%= order.id %>?login=<%= orderLogin %>">pod tym linkiem</a>.</p>
                <% } %>

                <div class="list cart-list">
                    <% for(let i = 0; i < orderCart.length; i++) { %>
                        <% const product = products.find(e => e.id === orderCart[i].id); %>
                        <% if(!product || orderCart[i].amount <= 0) continue; %>

                        <div class="row-space-between">
                            <div>
                                <a class="text-anchor d-block row" href="/produkt/<%= product.url %>">
                                    <img src="/img/<%= product.imageUrl ? `uploads/${product.imageUrl}` : 'default.jpg' %>" alt="Obrazek poglądowy produktu">
                                    <div class="product-info">
                                        <div class="item-title"><%= product.name %> <i>(<%= orderCart[i].amount %>)</i></div>
                                        <div class="item-property"><b><%= product.price %> PLN</b></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>

                <h3 style="text-decoration: underline;">Zapłacono: <%= (Math.round(order.price * 100) / 100).toFixed(2) %> PLN</h3>
            
                <div class="divide-horizontal"></div>

                <div style="text-align: left; margin: 0 auto; margin-top: 40px; width: 200px;">
                    <h3>Szczegóły wysyłki:</h3>
                    <% if(!deliveryData) { %>
                        <p style="color: red;"><i class="icon-attention"></i> Niestety wystąpił problem z zapisaniem danych do wysyłki. Jak najszybciej skontaktujemy się z Tobą poprzez adres E-mail, przepraszamy za utrudnienia.</p>
                    <% } else { %>
                        <span>Numer telefonu: <b><%= deliveryData.phone %></b></span><br>
                        <span>Imię: <b><%= deliveryData.firstName %></b></span><br>
                        <span>Nazwisko: <b><%= deliveryData.lastName %></b></span><br>
                        <span>Ulica: <b><%= deliveryData.street %></b></span><br>
                        <span>Numer domu: <b><%= deliveryData.house %></b></span><br>
                        <span>Numer lokalu: <b><%= deliveryData.apartment %></b></span><br>
                        <span>Kod pocztowy: <b><%= deliveryData.postal %></b></span><br>
                        <span>Miasto: <b><%= deliveryData.city %></b></span>
                    <% } %>
                </div>

                <a href="/" style="display: block; margin: 20px 0;"><button>Powrót na stronę główną</button></a>
            </main>
        </div>

        <% if(!mailSent) { %>
            <script>
                // Show error popup
            </script>
        <% } %>
    </body> 
</html>
