<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../includes/header', { title: "Podsumowanie zamówienia" }); %>
        <link rel="stylesheet" href="<%= path %>css/form.css">
        <link rel="stylesheet" href="<%= path %>css/list.css">
        <link rel="stylesheet" href="<%= path %>css/cart.css">
    </head>

    <body>
        <%- include('../includes/nav', { user, cart }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header-no-margin">Dziękujemy za zakup!</h1>
                <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> Podsumowanie zamówienia</div>
            
                <% if(!user) { %>
                    <p>Otrzymaliśmy Twoje zamówienie<%= mailSent ? ' i wysłaliśmy E-mail z potwierdzeniem' : '' %>. Wkrótce zweryfikujemy płatność i przejdziemy do realizacji zamówienia. Możesz sprawdzić status swojego zamówienia <a class="text-anchor" href="/moje-konto/zamowienie?id=<%= order.id %>&login=<%= encodeURIComponent(orderLogin) %>">pod tym linkiem</a>.</p>
                <% } else { %>
                    <p>Otrzymaliśmy Twoje zamówienie<%= mailSent ? ' i wysłaliśmy E-mail z potwierdzeniem' : '' %>. Wkrótce zweryfikujemy płatność i przejdziemy do realizacji zamówienia. Możesz sprawdzić status swojego zamówienia w <a class="text-anchor" href="/moje-konto">historii zamówień</a> oraz <a class="text-anchor" href="/moje-konto/zamowienie?id=<%= order.id %>">pod tym linkiem</a>.</p>
                <% } %>

                <div class="list cart-list">
                    <% for(let i = 0; i < orderCart.length; i++) { %>
                        <% const product = products.find(e => e.id === orderCart[i].id); %>
                        <% if(!product || orderCart[i].amount <= 0) continue; %>

                        <div class="row-space-between">
                            <div>
                                <a class="text-anchor d-block row" style="text-decoration: none;" href="/produkt/<%= product.url %>">
                                    <div class="item-image-container">
                                        <img src="/img/<%= product.imageUrl ? `uploads/${product.imageUrl}` : 'default.jpg' %>" alt="Obrazek poglądowy produktu">
                                    </div>
                                    
                                    <div class="product-info">
                                        <div class="item-title"><%= product.name %> <i>(<%= orderCart[i].amount %>)</i></div>
                                        <div class="item-property"><b><%= product.price %> PLN</b></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>

                <h3 style="text-decoration: underline;">Zapłacono: <%= (Math.round(order.price * 100) / 100).toFixed(2) %> PLN</h3>
            
                <div class="divide-horizontal"></div>

                <div style="text-align: left; margin: 0 auto; margin-top: 40px; width: 400px;">
                    <h3 style="text-align: center;">Szczegóły wysyłki:</h3>
                    <% if(!deliveryData) { %>
                        <p style="color: red; text-align: center;">
                            <i class="icon-attention"></i> 
                            Niestety wystąpił problem z zapisaniem danych do wysyłki. Jak najszybciej skontaktujemy się z Tobą poprzez adres E-mail, jeśli jesteś 
                            aktualnie zalogowany na swoje konto. W przeciwnym razie, prosimy o kontakt. Przepraszamy za utrudnienia!
                        </p>
                    <% } else { %>
                        <span>Imię: <b><%= deliveryData.firstName %></b></span><br>
                        <span>Nazwisko: <b><%= deliveryData.lastName %></b></span><br>
                        <span>Adres E-mail: <b><%= deliveryData.email %></b></span><br>
                        <span>Numer telefonu: <b><%= deliveryData.phone %></b></span><br>
                        <span>Ulica: <b><%= deliveryData.street %></b></span><br>
                        <span>Numer domu: <b><%= deliveryData.house %></b></span><br>
                        <span>Numer lokalu: <b><%= deliveryData.apartment %></b></span><br>
                        <span>Kod pocztowy: <b><%= deliveryData.postal %></b></span><br>
                        <span>Miasto: <b><%= deliveryData.city %></b></span>
                    <% } %>
                </div>

                <% if(user) { %>
                    <a href="/moje-konto/zamowienia" style="display: block; margin: 2rem 0;"><button>Zobacz wszystkie zamówienia</button></a>
                <% } %>

                <a href="/" style="display: block; margin: 1rem 0;"><button>Powrót na stronę główną</button></a>
            </main>
        </div>

        <%- include('../includes/footer'); %>

        <script>
            const mailSent = '<%= mailSent %>' === 'true';
        </script>

        <script src="<%= path %>js/ui-error-handlers/order/summary.js"></script>
    </body> 
</html>
