<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../includes/header', { title: "Logowanie" }); %>

        <link rel="stylesheet" href="<%= path %>css/form.css">
    </head>

    <body>
        <%- include('../includes/nav', { user: null, cart }); %>

        <div class="container">
            <main class="text-center">
                <h1 class="header-no-margin">Zaloguj się</h1>
                <div class="path"><a href="/">Strona główna</a> <i class="icon-right-dir"></i> Logowanie</div>

                <form method="post" action="/auth">
                    <div class="form-input">
                        <label for="login">Adres E-mail:</label>
                        <input type="email" name="login" id="login" required>
                    </div>
    
                    <div class="form-input">
                        <label for="password">Hasło:</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <p id="error" style="color: red; display: none;"><i class="icon-attention"></i> Niepoprawny login lub hasło!</p>

                    <button>Zaloguj się</button>
                </form>
            </main>
        </div>

        <%- include('../includes/footer'); %>

        <script src="<%= path %>js/ui-error-handlers/auth/login.js"></script>
    </body> 
</html>
